/*CSS DOCUMENT*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}
img {
    width: 100%;
    display: block; 
}

body {
	line-height: 140%; 	
	font-family: forma-djr-banner, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fafafa;
}

div.container{
    max-width: 80em;
    margin: auto;
}

h1 {
	background-color: #fafafa;
	color: rgb(92, 64, 51); 
    padding: .5rem 0rem; 
    text-align: center;
    font-family: forma-djr-banner, sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
	background-color: #fafafa;
	color: rgb(229, 165, 176);
	font-family: forma-djr-banner, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem; 
    padding: 0rem; 
    text-align: left;
    list-style-type: none;
}

h2 {
	background-color: #fafafa;
	color: rgb(92, 64, 51);
	font-size: 2.2rem;
	padding: 1.5rem 1rem 0.5rem 1rem;
	font-family: miller-display, serif;
    font-weight: 400;
    font-style: normal;
}

p {
	color: rgb(92, 64, 51);
	font-size: 1rem;
	padding: .5rem 1rem 0.5rem 1rem;
	font-family: forma-djr-banner, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p.price{
	color: rgb(229, 165, 176);
	font-size: 1rem;
	padding: 0.2rem 1rem 0.5rem 1rem;
	font-family: forma-djr-banner, sans-serif;
    font-weight: 400;
    font-style: bold;
}

h3 {
	background-color: #fafafa;
	color: rgb(229, 165, 176);
    font-size: 1.6rem; 
    padding: 0.5rem 1rem .2rem .5rem; 
	text-transform: bold;
    text-align: left;
    list-style-type: none;
    font-family: miller-display, serif;
    font-weight: bold;
    font-style: normal;
}

ul{
    background-color: #fafafa;
	color: rgb(92, 64, 51);
	font-size: 1rem;
	padding: 0rem .5rem;
	font-family: forma-djr-banner, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
	list-style-type: none;
}

li{
    background-color: #fafafa;
	color: rgb(92, 64, 51);
	font-size: 1rem;
	padding: .5rem 1rem 0.5rem;
	font-family: forma-djr-banner, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 1rem;
}

footer{
	color: rgb(92, 64, 51);
	font-size: 2rem;
	font-family: miller-display, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

@media screen and (min-width: 40em) {
    figure {
        display: grid;
        grid-template-columns: auto;
    }
    figure main {
        grid-column: 1/2;
    }
    figure img {
        grid-column: 2/3;
    }
    div.container {
        display: grid;
        grid-template-columns: 50% auto;
        padding-bottom: 4rem;
        max-width: 100em;
        }
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
}